.container {
  display: grid;
  position: relative;
  width: 48px;
  height: 48px;
}

.container_mini {
  display: grid;
  position: relative;
  width: 16px;
  height: 16px;
}

.propel {
  position: relative;
  width: 100%;
  height: auto;
}

.body {
  position: relative;
  width: 100%;
  height: auto;
  transform: translate(0px, -48px);
}

.body_mini {
  position: relative;
  width: 100%;
  height: auto;
  transform: translate(0px, -16px);
}

.crop {
  overflow: hidden;
}